<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/static/assets1/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="content-main">
        <div class="row mt-60">
            <div class="col-sm-12">
                <div class="w-50 mx-auto text-center">
                    <img src="/static/assets1/404.png" width="350" >
                    <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                    <p>It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. Here's a little tip that might help you get back on track.</p>
                    <a href="/" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to main</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>